# Ignore the following data files.
.DS_Store
*.csv
*.csv.gz
*.zip
*.pem
*.txt
*.xls
*.json
*.jpg
*.jpeg
*.h5
*.data
*.data.gz
*.gz
*.sav
*.zip

# Ignore the following virtual enviroment files.
**/.venv
